@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Overpass", sans-serif;
  --font2: "Ubuntu", sans-serif;
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-v-gray-blue: hsl(237, 17%, 21%);
  --gradient-v-d-desatured-blue: hsl(237, 23%, 32%);

  --padding-container: 50px 0;
  --color-grayish-blue: hsl(240, 2%, 79%);
  --color-white: #fff;
  --color-l-red: hsl(356, 100%, 66%);
  --color-v-l-red: hsl(355, 100%, 74%);
  --color-v-blue: hsl(208, 49%, 24%);
  --color-v-d-grayish-blue: hsl(207, 13%, 34%);
  --color-v-d-black-blue: hsl(240, 10%, 16%);
}

body {
  font-family: var(--font1);
}

.none {
  display: none;
}

.hero {
  overflow: hidden;
  --padding-container: 0;
  min-height: 80vh;
  background-image: linear-gradient(
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );
  position: relative;
  z-index: 1;
  border-radius: 0 0 0 90px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: show;
  padding: var(--padding-container);
}
  
.carousel .slide{
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none   ;
    color: white;
}
a:hover{
    color: palegreen;
}
.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.nav__menu li {
  text-decoration: none;
}

.nav__menu li:hover {
  color: crimson;
  transition: all 0.5s;
}

.nav__logo-img {
  height: 5em;
  padding-bottom: 15px;
  padding-left: 25px;
}


.menu-bar {
  display: none;
}
.hero__main {
  text-align: center;
  color: #fff;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 2.3rem;
}

.hero__paragraph {
  margin-top: 1em;
  font-size: 30px;
  font-weight: 300;
}

.hero__btns {
  margin-top: 2em;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 20px;
  margin-bottom: 8em;
}

.hero__cta {
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 12px 16px;
  border-radius: 30px;
  background: var(--color-white);
  color: var(--color-l-red);
  font-family: var(--font2);
  font-weight: 600;
}

.hero__cta:hover {
  background-color: pink;
  color: white;
}

.hero__cta--bg {
  --color-white: transparent;
  --color-l-red: #fff;
}

.hero__patterns {
  position: absolute;
  top: 0;
  left: -180px;
  height: 100%;
  z-index: -1;
}

/* --------------------------------- */

.subtitle {
  font-size: 1.9rem;
  color: var(--color-v-blue);
  text-align: center;
}

.designed__illustration {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/illustration-editor-mobile.svg);
}

.designed__illustration--right {
  background-size: cover;
  background-image: url(../images/illustration-laptop-mobile.svg);
}

.designed__paragraph {
  color: var(--color-v-d-grayish-blue);
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: justify;
  font-family: var(--font2);
  margin-top: 20px;

}

.designed__about--margin {
  margin-bottom: 40px;
}

.designed__subtitle {
  font-size: 1.9rem;
  color: var(--color-v-blue);
  text-align: center;
  font-weight: bold;
}

/* -------------------- */

.infrastructure {
  --padding-container: 40px 0 80px;
  position: relative;
  color: #fff;
  text-align: center;
}

.infrastructure::before {
  content: "";
  display: block;
  width: 100%;
  top: 30%;
  bottom: 0;
  position: absolute;
  background-color: var(--gradient-v-d-desatured-blue);
  z-index: -1;
  border-radius: 0 100px 0 100px;
}

.infrastructure__title {
  padding-top: 5%;
  font-size: 2.5rem;
}

.infrastructure__phones {
  width: 100%;
}

.infrastructure__paragraph {
  color: var(--color-grayish-blue);
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

/* ----------------------- */

.footer {
  background: var(--color-v-d-black-blue);
  text-align: center;

  font-family: var(--font2);
  border-radius: 0 90px 0 0;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__links {
  margin-top: 60px;
}

.footer__links:nth-of-type(1) {
  margin-top: 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--color-grayish-blue);
}

.footer__link--main {
  color: #fff;
  font-weight: 700;
}




@media only screen and (min-width: 250px) {
 *{
   background-color: red;
 }
  .none {
    display: block;
  }

  .nav {
    font-family: var(--font2);
  }

  .nav__logo {
    display: inline-flex;
    grid-template-columns: min-content min-content;
    gap: 130px;
    size: 30%;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .nav__link {
    list-style: none;
    color: #fff;
  }

  .nav__link::after {
    content: "";
    display: inline-none;
    width: 20px;
    height: 16px;
    margin-left: 5px;
    position: relative;
    top: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon-arrow-light.svg);
  }

  .nav__buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;
  }

  .nav__button {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 0;
  }

  .nav__button--bold {
    background: #fff;
    color: var(--color-l-red);
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
  }

  .hero__title {
    font-size: 4rem;
  }

  /* ---------------------- */

  .subtitle {
    font-size: 2.5rem;
  }

  .designed {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .designed__illustration {
    position: absolute;
    left: 58%;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: contain;
  }

  .designed__container {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .designed__illustration {
    width: 50%;
  }

  .designed__texts {
    width: 45%;
  }

  .designed__subtitle {
    font-size: 1.3rem;
    text-align: left;
  }

  .designed__paragraph {
    text-align: justify;
    padding: 10px;
  }

  /* ----------------------- */

  .infrastructure__container {
    display: flex;
    align-items: center;
  }

  .infrastructure::before {
    top: 20%;
    bottom: 25%;
  }

  .infrastructure__texts {
    text-align: left;
  }

  .infrastructure__paragraph {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  /* -------------------------------- */

  .designed--left {
    --padding-container: 0 0 80px;
  }

  .designed__illustration--right {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    background-size: contain;
    width: 70%;
    left: -20%;
    right: 0;
    /* background-color: #000; */
    background-position: left center;
  }

  .designed__container--left {
    flex-direction: row-reverse;
  }

  /* -------- FOOTER ---------- */

 
}

/* ----- MEDIAQUERYS ----- */
@media (max-width: 767px) {
  /*LOGO*/
  .nav__logo-img {
    height: 4em;
    padding-left: 15px;
    padding-top: 10px;
  }
  /*NAVBAR*/
  .navbar {
    background-color: pink;
    height: 80px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.42);
    align-items: center;
  }

  .nav__link {
    font-size: 17px;
    color: black;
  }

  .navbar{
    position: sticky;
    top:20px;
  }
  .navbar .nav__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 70px;
    height: 25vh;
    width: 30vw;
    transform: translate(-125%);
    transition: all 1.4s;
  }

  .navbar .menu-toggle {
    transform: translateY(3%);
  }

  .nav__menu li {
    margin-top: 3em;
  }

  .navbar .menu-bar {
    display: block;
    font-size: 2em;
    color: white;
    cursor: pointer;
    padding-right: 40px;
  }

  .nav__buttons{
      display: none;
  }



  /*PRIMERA PÁG*/

  .container {
    padding: 10px;
  }
  .hero {
    min-height: 30vh;
  }

  .hero__title {
    font-size: 25px;
  }

  .hero__paragraph{
      font-size: 20px;
  }

  
  .hero__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 50vh;
    padding-top: 45%;
  }

  /*SEGUNDA PÁGINA*/
  .designed__container {
    font-size: 10px;
    padding-top:20px;
    padding-bottom: 20px;
  }

  h2.subtitle{
      font-size: 25px;
  }

  .designed__subtitle{
      font-size: 12px;
      text-align: center;
  }

  .designed__about{
      padding: 7px;
  }

  .designed__paragraph{
    text-align: justify;
  }
  
  /*TERCERA PÁGINA*/
.infrastructure__title{
padding: 5px;
font-size: 15px;
}

.infrastructure__texts{
    font-size: 10px;
}

/*FOOTER*/

.footer__links{
    font-size: 10px;
}

}

@media (min-width: 768px) and (max-width: 992px) {
  html,
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
  }

}
